body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
  }
  .wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  form {
    display: flex;
    margin-bottom: 30px;
    outline: none;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  }
  
input[type="checkbox"] {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    align-self: center;
    accent-color: #c1d9e5 !important;
  }

  input[type="checkbox"]:checked {
    /* background-color: #2ecc71 !important;
    border-color: #2ecc71 !important; #8dd2aa*/
    border-radius: 3px;
  }
  

  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    padding-right: 0;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    background: none;
    caret-color: #FFF;
  }
  
  button {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #4CAF50;
    color: #FFF;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }

  li.selected{
    border-color: #2ecc71;
    border-style: solid;
  }

  li button {
    margin-left: 10px;
    background-color: #FF0000;
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
  }

  li span{
     flex: 1;
     cursor:pointer;  
  }

  .edit-input {
    flex: 1;
    padding: 0;
    font-size: 16px;
    /* border: 2px solid #6447a1;
    border-radius: 5px;  */
  }

  .edit-input:focus {
    outline: none;
    border-color: #8bd3dd;
    
  }
 
  .todo-text {
    flex: 1;
    /* margin: 0 10px; */
    text-decoration: none;
  }

  .todo-text.completed {
    text-decoration: line-through;
    color: #aaa;
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 20;
  margin-left: 10px;
  display: flex;
  /* padding: 5px 8px; */
  border-radius: 0 5px 5px 0;
  justify-content: flex-end;
  flex: 0 0 auto;
  color:#AAAAAA;
}

.material-symbols-outlined.save-button{
  color: #4CAF50;
}

.material-symbols-outlined.cancel-button{
  color: #FF0000;
}

.delete-button{
  color: #FF0000;
}

.add-button{
  cursor: pointer;
  position: relative;
  color: #4CAF50;
  text-align: center;
  justify-content: center;
  align-self: center;
  right: 10px;
  background-color: transparent;
}



